<mat-toolbar>Norchain WebApp</mat-toolbar>
<div class="wrapper">
  <div class="container-fluid">
    <div class="main-content">
      <div class="container-fluid">
        <h3>Top 3 Ranking</h3>
        <br>
        <div class="row">
          <div class="col-md-4" *ngFor="let row of tableData1.dataRows | slice:0:3">
            <div class="card card-product">
              <div class="card-header card-header-image">
                <a href="#pablo">
                  <img class="img" src="../assets/img/{{row.account}}.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#pablo">{{ row.name }}</a>
                </h4>
                <div class="card-description">
                  {{row.description}}
                </div>
              </div>
              <div class="card-footer">
                <div class="price">
                  <h4>Avg. ${{ row.price}} / person</h4>
                </div>
                <div class="stats">
                  <p class="card-category">Rating: {{ row.stars }}, number of Votes: {{ row.counts }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Retaurants Rankings</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-shopping">
                    <thead>
                    <tr>
                      <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                      <th>{{ tableData1.headerRow[1] }}</th>
                      <th class="th-description">{{ tableData1.headerRow[2] }}</th>
                      <th class="th-description">{{ tableData1.headerRow[3] }}</th>
                      <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of tableData1.dataRows">
                      <td>
                        <div class="img-container">
                          <img src="./assets/img/{{row.account}}.jpg" alt="...">
                        </div>
                      </td>
                      <td class="td-name">
                        <a href="{{row.account}}">{{row.name}}</a>
                        <br />
                      </td>
                      <td>{{row.description}}</td>
                      <td>
                        {{row.stars}}
                      </td>
                      <td>
                        {{row.counts}}
                      </td>
                      <td class="td-number text-right"><small>$</small> {{row.price}} </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
